# Ignorar entorno virtual, caches y datos pesados
venv/
.env
.env.*
_pycache_/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.git
.gitignore
logs/
logs/*
data/
data/*
index.faiss
*.sqlite3